
* {
  box-sizing: border-box;
}
body {
	background-image: url("../img/yellow_back.png");
	text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

h1 {
	color: navy;
	font-size: 40px;
	text-align: center;
}

h2 {
	color: navy;
	font-size: 20px;
	text-align: center;
}

h3 {
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 0px;
	color: navy;
	font-size: 20px;
	text-align: left;
}

hr {
    height:1px;
    border: 1px solid rgb(215,153,11);
    background-color:#000000;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 4px;
}

.nav {
	display: block;
	border: 5px solid rgb(215,153,11);
	background-color: rgb(244,184,36);    
	text-align: left;
}
.log{
    margin: auto;
	border: 5px solid rgb(215,153,11);
	background-color: rgb(235, 168, 14);
	text-align: left;
	overflow-y: scroll;
}
.gamelog {
	border: 5px solid rgb(215,153,11);
	background-color: rgb(235, 168, 14);
	text-align: left;
	overflow-y: scroll;
    margin: 0 0 0 0;
	width: 50%;
	height: 85vh;
    float: left;
}
.halfheight {
	height: 42.5vh;
}
@media screen and (max-height: 650px) {
    .gamelog{
	    height: 75vh;
	}
	.halfheight{
	    height: 37.5vh;
	}
}
@media screen and (max-width: 800px) {
  .gamelog, #gamebuttons{
    width: 90%;
	height: 42vh;
    flex-grow: 0; /* The width is 100%, when the viewport is 800px or smaller */}
    }