<!DOCTYPE html>
<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css')}}">
			<title>Conquester</title>
			<link rel="icon" href="../static/img/ison.png" type="image/x-icon">
		</head>
	<body>
		<div class=nav>
			<a href="../">Home</a>
		</div>
		{% with msgs = get_flashed_messages() %}
			{% if msgs %}
				{% for msg in msgs %}
				<p>{{msg}}</p>
				{% endfor %}
			{% endif %}
		{%endwith%}
		{%block content%}
		{% endblock %}
		
		</form>
	</body>
</html>